<!-- Contact Section -->
<section id="contact" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>Contact me</h2>
        <p>Feel free to send me an email on
          <a href="mailto:contact@loud.software">contact@loud.software</a>
          and I'll try to get back to you.</p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://github.com/LoudSoftware" class="btn btn-default btn-lg">
              <i class="fa fa-github fa-fw"></i>
              <span class="network-name">Github</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/LoudSoftware" class="btn btn-default btn-lg">
              <i class="fa fa-twitter fa-fw"></i>
              <span class="network-name">Twitter</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
