<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Me</h2>

        <p>
          I seem to find myself constantly curious about pretty much any new tech I find. On top of that, I love the
          challenge provided by being given a set of rules and finding unintentional side-effects of their misuse.
          Therefore, getting to understand how things are made is part of my passion.
        </p>

        <p>
          But it's not just tech, I have quite a few hobbies including FPV drone building and piloting <i
            class="em em-cloud"></i>, photography <i class="em em-camera"></i> and electronic music production <i class="em em-musical_note"></i>.
        </p>

        <p>
          Make sure to check some of my creative work <i class="em em-smiley"></i>!
        </p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://instagram.com/LoudSoftware" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="spotify:artist:7GfmQvytWst77jS5MOge5U" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-spotify fa-fw"></i>
              <span class="network-name">Spotify</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://itunes.apple.com/us/artist/loud-software/1122927571" class="btn btn-default btn-lg"
              target="_blank">
              <i class="fa fab fa-music fa-fw"></i>
              <span class="network-name">iTunes</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://soundcloud.com/LoudSoftware" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-soundcloud fa-fw"></i>
              <span class="network-name">SoundCloud</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>