<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Me</h2>

        <p>
          Well well, here you are! <i class="em em-smile"></i> It looks like you want to know more about me;
          Come, you're in for a treat!
        </p>

        <p>So I really love <i class="em em-heart"></i> technology. In fact, I do ever since I have been a child
          <i class="em em-boy"></i>.
          It all started with my father teaching me simple troubleshooting steps and how to build my own computer.
          Through him, I learnt to solder and got myself interested in not only software but also hardware and 
          electronics.
        </p>


        <p>
          Needless to say, I've always been interested in things that are cool <i class="em em-sunglasses"></i> and
          I'm never scared of trying something new <i class="em em-sparkles"></i> 
          <i>(like learning angular to make this website, which is totally overkill TBH)</i>.
        </p>

        <p>
          Throughout the years I've gained many hobbies such as photography <i class="em em-camera"></i>,
          video editing <i class="em em-video_camera"></i>, electronic music production
          <i class="em em-musical_note"></i>, and most important of all: Coding <i class="em em-computer"></i>
        </p>

        <p>
          Make sure to check out my creations <i class="em em-smiley"></i>!!!
        </p>
        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="https://instagram.com/LoudSoftware" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-instagram fa-fw"></i>
              <span class="network-name">Instagram</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="spotify:artist:7GfmQvytWst77jS5MOge5U" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-spotify fa-fw"></i>
              <span class="network-name">Spotify</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://itunes.apple.com/us/artist/loud-software/1122927571" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-music fa-fw"></i>
              <span class="network-name">iTunes</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://soundcloud.com/LoudSoftware" class="btn btn-default btn-lg" target="_blank">
              <i class="fa fab fa-soundcloud fa-fw"></i>
              <span class="network-name">SoundCloud</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
