<!-- About Section -->
<section id="about" class="content-section text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h2>About Me</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mi purus, placerat id leo eu, venenatis tempus felis.
          Donec diam orci, cursus eget malesuada nec, lobortis at nibh. Sed porttitor, ex vitae consectetur elementum, magna
          ligula hendrerit metus, a dignissim sem purus non ante. Nunc orci orci, molestie nec nulla non, ornare congue libero.
          Vestibulum magna eros, imperdiet a augue ut, consectetur rhoncus erat. Proin consectetur sollicitudin diam, quis
          sollicitudin felis euismod id. Fusce ornare aliquam faucibus.

        </p>

        <p>Maecenas aliquam placerat risus vitae hendrerit. Duis semper diam nec arcu ullamcorper, ac mattis velit elementum.
          Donec euismod mauris quis odio dictum vestibulum. Ut eget mollis sem. Phasellus efficitur, lorem eu euismod tincidunt,
          mi sem egestas tortor, et semper nulla tellus ac ligula. Phasellus eu ligula tellus. Nulla accumsan, risus vel
          fermentum mattis, elit ante vestibulum sapien, a eleifend ante ipsum vel justo. Phasellus a faucibus nibh. Curabitur
          quis convallis dolor. Pellentesque scelerisque mi vitae nunc efficitur, at hendrerit metus condimentum. Sed ut
          suscipit metus. Nullam turpis lacus, sodales eu blandit quis, iaculis vitae massa.

        </p>

        <p>Cras quis feugiat libero, eu lobortis eros. Mauris facilisis convallis urna, vel blandit sem mollis non. Sed imperdiet,
          enim id vulputate malesuada, turpis arcu facilisis eros, sollicitudin aliquam nibh sem vitae orci. Interdum et
          malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
          per inceptos himenaeos. Donec volutpat, felis eget consequat suscipit, nunc neque imperdiet eros, vel fermentum
          massa lorem sit amet felis. Integer in tortor interdum, ultrices magna eleifend, ornare
        </p>

        <ul class="list-inline banner-social-buttons">
          <li class="list-inline-item">
            <a href="spotify:artist:7GfmQvytWst77jS5MOge5U" class="btn btn-default btn-lg">
              <i class="fa fab fa-spotify fa-fw"></i>
              <span class="network-name">Spotify</span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#" class="btn btn-default btn-lg">
              <i class="fa fab fa-soundcloud fa-fw"></i>
              <span class="network-name">SoundCloud</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>